.task-container {
    background-color: #f4f4f4;
    border: 2px solid #ddd;
    padding: 15px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.task-container .task-title {
    color: #4b87c7; 
    font-weight: 600;
}

.task-container span {
    color: red; 
}

.task-container span.completed {
    color: rgb(27, 150, 27); 
} 